In [4]:
import pandas as pd

In [6]:
validation_data = pd.read_csv("assets/validation_data.csv")

In [7]:
validation_data.head()

,merchant_state_code,merchant_city_code,card_type_code,cardholder_name_code,transaction_amount,number_of_items,actual,predicted
0,4,84,2,76,19.07,3,0,0
1,26,69,0,272,6.59,1,0,0
2,7,95,2,226,6.59,1,0,0
3,46,85,2,216,6.59,1,0,0
4,15,70,0,53,6.59,1,0,0

In [8]:
actual, predicted = validation_data['actual'], validation_data['predicted']

In [10]:
actual.head()

0    0
1    0
2    0
3    0
4    0
Name: actual, dtype: int64

In [11]:
predicted.head()

0    0
1    0
2    0
3    0
4    0
Name: predicted, dtype: int64